* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.corpo {
    width: 500px;
    margin: 100px auto 0 auto;

}

.calc {
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 102, 144);
    height: 500px;
    width: 100%;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.titulo {
    color: white;
    font-size: 22px;
    margin-top: 20px;
}

.userInfo {
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 24px;
    align-items: flex-end;

}

.userInfo input {
    padding: 10px;
    border-radius: 3px;
    border: 0;
    margin-top: 35px;
    height: 25px;
    background-color: white;

}

input::placeholder {
    color: black;
    opacity: 0.25;
}

.error {
    font-size: 1rem;
    margin-top: 5px;
    color: #DB5A5A;
    align-self: flex-end;
    margin-right: 50px;
}

.btn {
    margin-top: 30px;
    padding-left: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn button {
    width: 129px;
    height: 27px;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    background-color: whitesmoke;
    color: rgb(47, 102, 144);
    transition: 0.3s;
}

button:hover {
    background-color: white;
}

.res {
    font-size: 20px;
    text-align: center;
    width: 50%;
    height: 30%;
    border-radius: 8px;
    color: white;
    padding: 10px;
    line-height: 25px;
}

@media only screen and (max-width:600px) {
    .calc {
        width: 450px;
    }

    .corpo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:460px) {
    .corpo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo h1 {
        font-size: xx-large;
    }

    .calc {
        display: flex;
        flex-direction: column;
        background-color: rgb(47, 102, 144);
        height: 500px;
        width: 80%;
        align-items: center;
        border-radius: 20px;
        padding: 20px;
    }

    .res {
        width: 60%;
        height: 20%;
        font-size: 16px;
    }

    .userInfo input {
        width: 70%;
    }
}